#create-comment {
  @include box-shadow($shadow 1px 1px 5px);
  background: $ice;
  padding: $unit;

  .item {
    margin-top: $unit;
  }

  h1 {
    padding: $unit $unit * 1.5;
    border-bottom: 1px solid $lightgrey;
    font-size: $unit * 2;
    line-height: $unit * 3;
    font-weight: 700;
    position: relative;
    color: $lightgreen;
  }

  form {
    label {
      border: 0;
      color: $lightgreen;
    }

    p {
      margin: 20px 10px 20px 26px;
    }

    .button {
      background: $lightgreen;
      color: $white;
    }

    .item {
      background: transparent;
      border: 0;
    }

    textarea {
      border: 1px solid $lightgreen;
      display: block;
      width: 96%;
      color: $lightgreen;
      padding: $unit / 2;
      background: transparent;
      margin-right: 16px;

      &:focus {
        border: 2px solid $lightgreen;
      }
    }
  }
}
