#header {
  background: $blue;

  h1 {
    color: $white;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $unit * 2;
    font-weight: 300;
    overflow: visible;
    left: 45px !important;
    background: $blue;
    z-index: 1;
  }

  ul {
    position: absolute;
    right: $unit;
    li {
      float: left;
    }
  }

  button {
    color: $lightorange;
  }

}

.logged-in #header {
  background: $orange;

  h1 {
    background: $orange;
  }
}
