html {

  ion-content {
    background: transparent url(../img/bg.png) center center no-repeat;
    background-size: 100%;
  }

  .pane {
    background: transparent;      
  }

  .loader {
    display: block;
    width: 220px;
    height: 4 * $unit;
    background: transparent url(../img/loader.gif) center center no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -110px;
    z-index: 2;

    em {
      display: none;
    }
  }
}
