#discussions {
  background: $ice;
  padding-top: 70px;

  h2 {
    color: $orange;
    font-size: 20px;
    font-weight: 400;
    margin: 0 10px;
  }

  ion-list {
    display: block;

    .item {
      border: 0;
      background: transparent;
      padding: 0;
    }
  }

  .card {
    padding: 0;

    h3 {
      font-size: 20px;
      background: $diamond;
      padding: 2 * $unit;
    }
  }

  .card-body {
    color: $black;
    font-size: 16px;
    padding: 2 * $unit;
  }
}
