#proposal {
  background: $ice;

  h1 {
    position: relative;
    background: $green-triangles;
    font-weight: 700;
    font-size: 36px;
    color: $white;
    overflow: hidden;
    text-align: center;
    padding: 60px 0;
  }

  h2 {
    color: $lightgreen;
    font-size: 18px;
    margin: $unit;
  }

  .back {
    top: $unit;
    color: $white;
  }

  img {
    margin: $unit;
  }

  p {
    margin: $unit;
    font-size: 16px;
    color: $darkergrey;
    line-height: 24px;
    text-align: justify;
    clear: both;
  }

  .comment {
    background: $pink;
    text-transform: uppercase;
    color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: $unit;
    float: right;
    font-size: 12px;
  }
}
