#header {
  background: $blue;

  h1 {
    color: $white;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $unit * 2;
    font-weight: 300;
    overflow: visible;
    left: 45px !important;
    background: $blue;
    z-index: 1;
  }

  ul {
    position: absolute;
    right: $unit;
    top: 4px;
  }

  button {
    color: $lightorange;
    height: 32px;
  }
}

.logged-in #header {
  background: $orange;

  h1 {
    background: $orange;
  }
}
