// colours for the 3confjuv app
	// home
		$palette-orange:           #ff9800;
		$palette-orange-dark:      #e65100;
		$palette-orange-dark-m:    #f57c00;
		$palette-orange-light:     #ffe0b2;
		$palette-orange-light-m:   #ffb74d;
    
    // search results
		$palette-lightgreen:          #8bc34a;
		$palette-lightgreen-dark:     #33691e;
		$palette-lightgreen-dark-m:   #689f38;
		$palette-lightgreen-light:    #dcedc8;
		$palette-lightgreen-light-m:  #aed581;
    
    // user profiles 
        $palette-indigo:           #3f51b5;
		$palette-indigo-dark:      #1a237e;
		$palette-indigo-dark-m:    #303f9f;
		$palette-indigo-light:     #e8eaf6;
		$palette-indigo-light-m:   #7986cb;

    // proposals
        $palette-teal:           #009688;
		$palette-teal-dark:      #004d40;
		$palette-teal-dark-m:    #00796b;
		$palette-teal-light:     #e0f2f1;
		$palette-teal-light-m:   #4db6ac;

    // accent
        $palette-pink:           #ff4081;
		$palette-pink-dark:      #c51162;
		$palette-pink-dark-m:    #f50057;
		$palette-pink-light:     #ff80ab;
		$palette-pink-light-m:   #F8BBD0;