#cover { 
    /*background-image:url(../images/pattern.svg); */
    display: flex; 
    display: -webkit-flex; 
    width: 100%; 
    height: 300px; 
    -webkit-align-items: center; 
    align-items: center;

    #user-avatar {

        display: flex;
        margin: 0 auto;


        p {
            color: white;
            padding: 12px;
            font-size: 14pt;
        }
        
        h2 {
            color: #fff;
        }

    }
}

#game-progress {
    margin-top: 10px;
    margin-bottom: 10px;
    
    div.progress{
        height: 14px;
        border-radius: 5px;
        
        .progress-bar{
            border-radius: 5px 1px 1px 5px;
        }
    }
}
