<ion-slide-box on-slide-changed="slideChanged(index)" id="intro">

  <!--
  <ion-slide id="intro-1">
    <h3><span>#3confjuv</span></h3>
    <img src="img/intro/1.png" alt="" />
    <p>Como você vai mudar o Brasil? Crie propostas, reúna amigos e conheça gente interessada em fazer as mudanças acontecerem na sua cidade</p>
    <button ng-click="next()" class="button button-assertive">Próximo</button>
  </ion-slide>
  
  <ion-slide id="intro-2">
    <h3><span>Lance sua ideia e peça comentários</span></h3>
    <img src="img/intro/2.png" alt="" />
    <p>Todas as propostas podem ser comentadas, seguidas, apoiadas e mobilizadas, ao longo de 3 fases aqui no #3ConfJuv!</p>
    <button ng-click="next()" class="button button-assertive">Próximo</button>
  </ion-slide>
  
  <ion-slide id="intro-3">
    <h3><span>Comece a mobilizar e ganhe pontos</span></h3>
    <img src="img/intro/3.png" alt="" />
    <p>Então comece logo, crie suas propostas e mobilize bastante! Junte os pontos e você e sua proposta podem ficar conhecidos no país!</p>
    <button ng-click="skipIntro()" class="button button-positive">Iniciar</button>
  </ion-slide>
  -->

  <ion-slide id="intro-4">
    <h3><span>Complete já seu perfil</span></h3>
    <img src="img/intro/4.png" alt="" />
    <p>Olá! Estamos na reta final da Etapa Digital e você precisa ter certeza de que seu perfil está com todas as informações preenchidas. Isso é pré-requisito para a eleição de delegados! Então corre lá e completa seu perfil! ;)</p>
    <button ng-click="skipIntro()" class="button button-positive">Iniciar</button>
  </ion-slide>
</ion-slide-box>
