<div class="modal" id="create-proposal">
  <ion-content>
    <form ng-submit="createProposal(data)">
      <h1 class="title">
        <span>Criar proposta</span>
        <a class="back icon-left ion-reply" ng-click="closeProposalModal()">Voltar</a>
      </h1>

      <label class="item item-input"><input type="text" placeholder="Título" ng-model="data.title" maxlength="40"></label>
      <label class="item item-input"><textarea placeholder="Descrição" ng-model="data.description"></textarea></label>
      <label class="checkbox">
        <input  type="checkbox" ng-model="data.free_conference" >
      </label>
      Esta proposta veio de uma conferência livre?

      <ng-include src="'html/_select_state.html'"></ng-include>
      <label id="proposal-topic">Tópico</label>
      <ion-radio ng-model="data.topic_id" ng-value="topic.id" ng-repeat="topic in topics">{{topic.title}}</ion-radio>

      <p class="text-center">
        <button class="button" type="submit">Salvar</button>
      </p>
    </form>
  </ion-content>
</div>
