<div class="modal" id="login-modal">

  <!-- Title -->

  <h1 class="title">
    <span>Login</span>
  </h1>

  <!-- Login first screen -->

  <div ng-hide="loginFormDisplayed">
    <p class="text-center">
      <span class="avatar avatar-inline avatar-lg"></span>
    </p>
                      
    <p class="text-center">
      <a class="button icon-left ion-person-add button-positive">Cadastrar Usuário</a>
    </p>
                                 
    <p class="text-center">
      <a class="button icon-left ion-person button-stable" ng-click="displayLoginForm()">Já tenho conta</a>
      <br />
      <small>são aceitos usuários cadastrados no <em>Juventude.gov.br</em></small>
    </p>
    
    <hr /> 
    
    <p class="text-center">
      <a class="button icon-left ion-person-stalker button-balanced">Cadastrar Conferência</a>
    </p>
  </div>

  <!-- Login form -->

  <form ng-submit="Login(data)" ng-show="loginFormDisplayed">
    <div class="list">
      <div class="list list-inset">

        <label class="item item-input">
          <input type="text" placeholder="Usuário" ng-model="data.login">
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Senha" ng-model="data.password">
        </label>

      </div>
      <p class="text-center">
        <button class="button button-calm" type="submit">Entrar</button>
      </p>

      <div class="login-actions">
        <a ng-click="forgotPassword(data.login)">Esqueceu a senha?</a>
        <a ng-click="createAccount()">Criar conta</a></p>
      </div>
    </div>
  </form>
</div>
