<div id="proposals" ng-show="loggedIn" no-scroll>
  <h2>Como você vai mudar o Brasil?</h2>

  <td-cards>
    <td-card ng-repeat="proposal in cards" on-destroy="cardDestroyed($index)" ng-style="{top: {{$index * 3}} + 'px'}"
             on-swipe-left="" on-swipe-right="" on-partial-swipe="cardPartialSwipe(amt)">
      <div class="card animate-show" ng-show="proposal.topic.selected">
        <h3>
          {{proposal.title}}
          <br />
          <small>Autor: {{proposal.author.name}}</small>
        </h3>
        <div class="card-body">
          <!-- <div ng-bind-html="discussion.body"></div> -->
          {{proposal.body | htmlToPlainText | limitTo:280}}...
        </div>
        <div class="card-footer">
          <img ng-src="https://img.shields.io/badge/tema-{{proposal.topic.title}}-ff9800.svg" alt="" />
          <img ng-repeat="tag in proposal.tag_list" ng-src="https://img.shields.io/badge/tag-{{tag}}-4db6ac.svg" alt="" />
          <a ng-click="openProposal(proposal)" class="icon-left ion-android-open"> Acessar</a>
        </div>
        <br style="clear: both;" />
      </div>
    </td-card>
  </td-cards>

  <div class="cards-footer">
    <a ng-click="nextCard()">Próximo</a>
  </div>
</div>
