<div id="proposals" ng-show="loggedIn">
  <h2>Dialogue nas propostas</h2>
  
  <ion-list>
    <ion-item ng-repeat="proposal in proposalList">
      <div class="card">
        <h3>{{proposal.title}}</h3>
        <div class="card-body">
          <!-- <div ng-bind-html="discussion.body"></div> -->
          {{proposal.body | htmlToPlainText | limitTo:140}}...
        </div>
        <div class="card-footer">
          <img ng-src="https://img.shields.io/badge/tag-{{proposal.topic.title}}-ff9800.svg" alt="" />
          <a ng-click="showProposal(proposal.id)" class="icon-left ion-android-open"> Acessar</a>
        </div>
        <br style="clear: both;" />
      </div>
    </ion-item>
  </ion-list>
</div>
