<div id="proposal" class="modal">
  <ion-content>
    <h1 class="title">
      <span>
        <span id="proposal-title">{{proposal.title}}</span>
        <br />
        <small>Autoria: {{proposal.author.name}}</small>
      </span>
      <a class="back icon-left ion-reply" ng-click="closeProposal()">Voltar</a>
    </h1>

    <span id="proposal-id" style="display: none;">{{proposal.id}}</span>

    <p class="proposal-buttons">

      <button class="button tag" ng-click="openTagForm()" ng-show="proposal.author.id == user.id">
        <i class="icon ion-pricetags"></i> Adicionar Tag
      </button>
      <button class="button icon-left ion-chatbox-working comment" ng-click="openCommentForm()">
        Comentar
      </button>
      <button class="button icon-left ion-social-twitter" onclick="window.open(ConfJuvAppUtils.shareOnTwitter(), '_system')">
        Compartilhar no Twitter
      </button>
      <button class="button icon-left ion-social-facebook" onclick="window.open(ConfJuvAppUtils.shareOnFacebook(), '_system')">
        Compartilhar no Facebook
      </button>
      <button class="button icon-left ion-shuffle" ng-click="share(proposal)">
        Compartilhar
      </button>
    </p>

    <p style="clear: both;"></p>

    <p class="proposal-badges">
      <img ng-src="img/badge-{{proposal.topic.id}}.svg" alt="" />
      <img ng-repeat="tag in proposal.tag_list | limitTo:3" ng-src="https://img.shields.io/badge/tag-{{tag | tagFilter}}-4db6ac.svg" alt="" />
    </p>

    <p>{{proposal.body | htmlToPlainText}}</p>

    <button class="button icon-left ion-alert flat" ng-click="openReportAbuseForm()">
      Denunciar
    </button>

    <hr>

    <h2>Comentários ({{commentStatus == 'none' ? 0 : proposal.comments.length}})</h2>

    <div class="comment-message" ng-show="commentStatus == 'none'">
      Não há comentários para esta proposta. 
      <span ng-click="openCommentForm()">Seja o primeiro!</span>
    </div>
    
    <div class="comment-message" ng-show="commentStatus == 'fail'">
      Não foi possível carregar os comentários desta proposta. 
    </div>

    <div class="card" ng-repeat="comment in proposal.comments" ng-hide="comment.skip">
      <div class="item item-divider">
      {{comment.author.name}}
      </div>
      <div class="item item-text-wrap">
      {{comment.body}}
      </div>
    </div>
  </ion-content>
</div>
