<div id="proposal" class="modal">
  <ion-content>
    <h1 class="title">
      <span>{{proposal.title}}</span>
      <a class="back icon-left ion-reply" ng-click="closeProposal()">Voltar</a>
    </h1>
    <button class="button report-abuse" ng-click="openReportAbuseForm()">
      <i class="icon ion-alert"></i> Denunciar
    </button>
    <button class="button comment" ng-click="openCommentForm()">
      <i class="icon ion-chatbox-working"></i> Comentar
    </button>
    <img ng-src="https://img.shields.io/badge/tag-{{proposal.topic.title}}-ff9800.svg" alt="" />
    <p>{{proposal.body | htmlToPlainText}}</p>

    <h2>Comentários</h2>

    <div class="card" ng-repeat="comment in proposal.comments" ng-hide="comment.skip">
      <div class="item item-divider">
      {{comment.author.name}}
      </div>
      <div class="item item-text-wrap">
      {{comment.body}}
      </div>
    </div>
  </ion-content>
</div>
