<div id="right-sidebar" class="sidebar">
  <ion-content>
    <h2>
      <span>Filtros</span>
      <button menu-toggle="right" class="button button-icon icon ion-close-circled" hide-when="large"></button>
    </h2>
    <h3 ng-show="user.region">
      Propostas de {{user.region.full_name}}
      <label class="checkbox my-city-cbox">
        <input  type="checkbox" ng-click="loadProposalsOfMyCity()">
      </label>
    </h3>
    <h3 ng-show="!user.region">
      <a ng-click="loadStates()">Adicione sua cidade no seu cadastro se der.</a>
      <ng-include ng-show="states.length != 0" src="'html/_select_state.html'"></ng-include>
    </h3>
    <h3>Mostrar apenas propostas do eixo:</h3>
    <ion-radio class="radio-balanced" ng-value="'all'" ng-model="topicFilter.value" ng-click="$parent.reloadProposals()">Todos</ion-radio>
    <label ng-repeat="topic in topics">
      <ion-radio class="radio-balanced" ng-value="topic.id" ng-model="topicFilter.value" ng-click="$parent.reloadProposals()">
        {{topic.title}}
      </ion-radio>
    </label>
  </ion-content>
</div>
